<p id="notice"><%= notice %></p>

<h1><%= @question.question_text %></h1>
<p>
  <%= @question.description %>
</p>

<table>
  <thead>
    <tr>
	  <th>Choice</th>
	  <th>Votes</th>
	</tr>
  </thead>
  <tbody>
    <% @question.choices.each do |choice|%>
	  <tr>
	     <td><%= choice.choice_text %></td>
		 <td> <%= choice.votes.count %> </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<%= link_to 'Back', questions_path %>